<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<header>
  <div class="page-header min-vh-50" style="background-image: url(../../static/assets/img/theater.jpg)">
    <span class="mask bg-dark opacity-8"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-white text-center">
          <h2 class="text-white">Movie Theater Database Query</h2>
          <p class="lead">Query the database</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row bg-white shadow mt-n5 border-radius-lg pb-4 p-3 mx-sm-0 mx-1 position-relative">
      <div class="col-lg-3 mt-lg-n2 mt-2">
        <label class="">Leave From</label>
        <select class="form-control" name="choices-leave" id="choices-leave" placeholder="Departure">
          <option value="Choice 1" selected="">Brazil</option>
          <option value="Choice 2">Bucharest</option>
          <option value="Choice 3">London</option>
          <option value="Choice 4">USA</option>
        </select>
      </div>
      <div class="col-lg-3 mt-lg-n2 mt-2">
        <label class="">To</label>
        <select class="form-control" name="choices-to" id="choices-to" placeholder="Destination">
          <option value="Choice 1" selected="">Italy</option>
          <option value="Choice 2">Spain</option>
          <option value="Choice 3">Denmark</option>
          <option value="Choice 4">Poland</option>
        </select>
      </div>
      <div class="col-lg-3 mt-lg-n2 mt-2">
        <label class="">Depart</label>

        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-calendar"></i></span>
          <input class="form-control datepicker" placeholder="Please select date" type="text" >
        </div>

      </div>
      <div class="col-lg-3 mt-lg-n2 mt-2">
        <label class="">&nbsp;</label>
        <button type="button" class="btn bg-gradient-primary w-100 mb-0">Search</button>
      </div>
    </div>
  </div>
</header>